@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin: auto;
  text-align: center;
}
.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
